html {
  font-family: 'Ubuntu', sans-serif;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar-wrapper {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  top: -3px;
  left: 0;
}

.navbar {
  width: 100%;
  height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__logo-home a img {
  vertical-align: middle;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.navbar__links .navbar-link a {
  color: #2d394c;
  opacity: 0.84;
  text-decoration: none;
}

.hero-wrapper {
  background-color: #54a3da;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 147, 147, 0.15)), color-stop(44%, rgba(217, 239, 255, 0.15)), to(rgba(193, 193, 193, 0.15)));
  background-image: linear-gradient(to top, rgba(147, 147, 147, 0.15) 0%, rgba(217, 239, 255, 0.15) 44%, rgba(193, 193, 193, 0.15) 100%);
}

.hero-wrapper .hero {
  max-height: 780px;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero__advert {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 580px;
}

.hero__advert .hero__title {
  display: inline-block;
  color: #f7f6f2;
  font-size: 52px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
}

.hero__advert .hero__subtitle {
  margin-top: 5px;
  max-width: 484px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 47px;
}

.hero__advert .hero__sign-welcome {
  margin: 50px 0 35px 0;
  display: inline-block;
  color: #f7f7f7;
  font-size: 16px;
  font-weight: 500;
}

.hero__advert .hero__sign-welcome .hero__free-label {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border-radius: 3px;
  background-color: #ffce54;
}

.hero__advert .hero__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__advert .hero__form .hero__mail-space {
  max-width: 423px;
  padding: 0 10px;
  height: 54px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  background-color: #fff;
  font-size: 18px;
  color: #797979;
  outline: 0;
  font-weight: 500;
}

.hero__advert .hero__form .hero__button {
  border: none;
  font-size: 18px;
  margin-left: 30px;
  font-weight: 700;
  width: 113px;
  height: 54px;
  border-radius: 5px;
  color: #fff;
  background-color: #77c344;
  text-transform: uppercase;
}

.hero__hand .hero__hand-and-phone img {
  max-width: 40vw;
  max-height: 750px;
  margin-bottom: -3px;
}

.partners-wrapper {
  background-color: #f8f8f8;
}

.partners-wrapper .partners {
  height: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-why {
  height: 135px;
  text-align: center;
  margin-top: 80px;
  color: #2d394c;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.advantages-wrapper .advantages {
  margin-left: display-1260px/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-wrapper .advantages .advantages__arguments .advantages__arg {
  min-width: 460px;
  max-width: 680px;
}

.advantages-wrapper .advantages .advantages__arguments .advantages__arg .advantages__arg-label {
  text-align: center;
}

.advantages-wrapper .advantages .advantages__laptop {
  margin-bottom: 80px;
}

.differences {
  height: 732px;
  background: url(/images/img1.png) no-repeat bottom right/cover;
  background-color: #f1f1f2;
}

.differences__why {
  padding-top: 80px;
  height: 350px;
  text-align: center;
  color: #2d394c;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.differences__slider {
  background-color: #f1f1f2;
  width: 765px;
  height: 382px;
  padding: 40px 0px 40px 80px;
}

.differences__slider .differences__slide-title {
  margin-bottom: 40px;
  height: 27px;
  opacity: 0.88;
  color: #2d394c;
  font-size: 28px;
  font-weight: 400;
}

.differences__slider .differences__slide-text {
  opacity: 0.89;
  color: #5a626e;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: justify;
}

.signup {
  height: 480px;
}

.signup .signup__title {
  padding-top: 80px;
  height: 160px;
  text-align: center;
  color: #2d394c;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.signup .signup__subtitle {
  margin-top: 18px;
  padding-bottom: 30px;
  color: #5a626e;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
}

.signup .form-wrapper {
  text-align: center;
}

.signup .form-wrapper .mail-space {
  display: inline-block;
  width: 630px;
  padding: 0 10px;
  height: 68px;
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: #797979;
  outline: 0;
  font-weight: 500;
  border: 1px solid gray;
  border-radius: 3px;
}

.signup .form-wrapper .input-button {
  margin-top: 44px;
  border: none;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  margin-left: 30px;
  font-weight: 700;
  width: 190px;
  height: 68px;
  border-radius: 5px;
  color: #fff;
  background-color: #77c344;
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

@media (max-width: 1499px) {
  .container {
    padding: 0 10px;
  }
  .partners-wrapper .partners {
    height: 158px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */