.advantages-why {
   height: 135px;
   text-align: center;
   margin-top: 80px;
   color: #2d394c;
   font-family: 'Ubuntu', sans-serif;
   font-size: 40px;
   font-weight: 500;
   text-transform: uppercase;
}
.advantages-wrapper {
   .advantages{
      margin-left: ((display - 1260px)/2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .advantages__arguments{         
         .advantages__arg{            
            min-width: 460px;
            max-width: 680px;
            .advantages__arg-label{
               text-align: center;
            }
            .advantages__arg-text{
               
            }
         }
      }
      .advantages__laptop{
         margin-bottom: 80px;
      }
   }  
}