.differences{
   height: 732px;
   background-color: #f1f1f2;


   //background: #00ff00 url('smiley.gif') no-repeat fixed center;

   //background-repeat: repeat (по умолчанию), repeat-x, repeat-y, no-repeat;

   //background-attachment: scroll(по умолчанию), fixed (для фона страницы);

   //background-position: 
   //                      top/center/bottom left/center/right 
   //                Если определить только одно значение, второе будет "center".

   //                     x% y% Верхний левый угол это 0% 0%. Правый нижний - 100% 100%. 
   //                Если определить только одно значение, второе будет 50%.

   //                      Xpos Ypos Верхний левый угол это 0 0. Любые CSS единицы.


}
.differences__why {
   padding-top: 80px;
   height: 350px;
   text-align: center;
   color: #2d394c;
   font-size: 40px;
   font-weight: 500;
   text-transform: uppercase;
}

.differences__slider{
   background-color: #f1f1f2;
   width: 765px;
   height: 382px;
   padding: 40px 0px 40px 80px;

   .differences__slide{
      
   }
   .differences__slide-title{
      margin-bottom: 40px;
      height: 27px;
      opacity: 0.88;
      color: #2d394c;
      font-size: 28px;
      font-weight: 400;
   }
   .differences__slide-text{   
      opacity: 0.89;
      color: #5a626e;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      text-align: justify;
   }
   .differences__slide-picture{
      img{

      }
   }
}

