.navbar-wrapper {
	position: fixed;	
	z-index: 100;
	background-color: #ffffff;
	width: 100%;
	top: -3px;
	left: 0;
}

.navbar {		
	//width: 100%;
	height: 87px; 				//
	display: flex;	
	align-items: center;
	justify-content: space-between;
	.navbar__logo-home {
		a {
			img {
				vertical-align: middle;				
			}
		}
	}
	.navbar__links {
		display: flex;
		justify-content: space-between;
		width: 400px;		
		text-decoration: none;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;				
		.navbar-link {
			a {	
				color: #2d394c;
				opacity: 0.84;
				text-decoration: none;		
			}
		}	
	}
}
