html{
	font-family: 'Ubuntu', sans-serif;
}

//цвета:	
$text-color: #262626;
$text-color-light: #7b7b79;
$primary: #507fe1;

//шрифты:
@import '_fonts';	
	
@import '_navbar';
@import '_hero';
@import '_advantages';
@import '_differences';
@import '_signup';

@import '_media';
